/* button mute class */
body {
    font-family: 'Raleway' ;
    margin-right: auto;
    margin-left: auto;
    /* padding-right: 10px;
    padding-left: 10px; */
    width: 100%;
    max-width: 100%;
}

button {
    font-family: inherit;
    font-weight: 400;
    border: 0;
    margin: 0.3rem;
    line-height: 2.5;
    padding: 0 20px;
    text-shadow: 0px 0px 1px #000;
    border-radius: 10px;
    background-color: #F5E79B;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .5),
                inset -2px -2px 3px rgba(0, 0, 0, .5);
}

span {
    font-family: inherit;
    /* display: block; */
    /* overflow: auto;
    width: 100%; */

    /* white-space: normal; */
    margin: 1px 1px;
    /* max-width: 150px; */
    overflow-wrap: break-word;
}

i {
    margin: 1px 3px;
}

input {
    font-family: inherit;
}

a{
    width: inherit;
    height: inherit;
}
p{
  font-size: 6px;
}
img {
  width: inherit;
  height: inherit;
}
h2 {
  display: inline;
}

.lang {
    background-image: "\f09a";
    font-family: 'FontAwesome';
    width: 40px;
    height: 40px;
    content: "\f09a";
    float: right;
}

.buttonClick {
    background: rgb(43, 170, 202);
}

.resultDescription {
    display: block;
    width: 100%;
    height: 20px;
    
}
.imgDiv {
  /* width: inherit;
  height: 40px; */
  display: inline;
}

.bdLogoDiv {
  width: 120px;
  height: 100px;
  float: right;
}
.chLogoDiv {
  height: 20px;
  display: block;
}

#chLogoLink {
  display: inline-flex;
  float: right;
  
}
#chAnchor {
  width: 110px;
  height: 100px;
}

/* #chLogo {
  text-align: right;
  display: inline;
} */
#resultDescription {
    font-size: 8px;
    float: right;
}

#allPick {
    float: right;
    background-color: mediumvioletred;
    color: white;
}

#smorLogo {
    width: 16rem;
    height: 80px;
    text-align: center;
}
#trashDescription {
  font-size: 8px;
}
#pickDescription {
  display: inline;
  font-size: 8px;
}

#pickedCuisine {
  
  color: salmon;
}

#reset {
  background-color: #EA6841;
}

#pickButton {
  display: inline;
  background-color: #AEE8EF;
}

#sectTop {
  height: fit-content;  
  margin-bottom: 1.3rem;
}

#gamesSelectorh2 {
  width: 13rem;
  text-align: left;
  display: inline;
}




/* form {
    position: relative;
    width: 18rem;
    margin-top: 8vh;
  } */
  
  /* .chosen-value,
  .value-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .chosen-value {
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    height: 2rem;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: #FAFCFD;
    border: 3px solid transparent;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .chosen-value::-webkit-input-placeholder {
    color: #333;
  }
  .chosen-value:hover {
    background-color: #FF908B;
    cursor: pointer;
  }
  .chosen-value:hover::-webkit-input-placeholder {
    color: #333;
  }
  .chosen-value:focus, .chosen-value.open {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    outline: 0;
    background-color: #FF908B;
    color: #000;
  }
  .chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
    color: #000;
  }
  
  .value-list {
    list-style: none;
    margin-top: 1rem;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .value-list.open {
    position: relative;
    max-height: 320px;
    overflow: auto;
  }
  .value-list li {
    position: relative;
    height: 2rem;
    background-color: #FAFCFD;
    padding: 1rem;
    font-size: 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    opacity: 1;
  }
  .value-list li:hover {
    background-color: #FF908B;
  }
  .value-list li.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
  }
   */