/* button mute class */
body {
    font-family: 'Raleway' ;
}

button {
    font-family: inherit;
    font-weight: 400;
    border: 0;
    margin: 0.3rem;
    line-height: 2.5;
    padding: 0 20px;
    text-shadow: 0px 0px 1px #000;
    border-radius: 10px;
    background-color: #F5E79B;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .5),
                inset -2px -2px 3px rgba(0, 0, 0, .5);
}

span {
    font-family: inherit;
    width:300px;
    word-wrap: break-word;
    white-space: normal;
    margin: 1px 1px;
}

i {
    margin: 1px 3px;
}
input {
    font-family: inherit;
}

#reset {
    background-color: #EA6841;
}

#pickButton {
    background-color: #AEE8EF;
}